[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
sqlalchemy = "1.4.47"
alembic = "1.10.2"
requests = "2.28.1"
beautifulsoup4 = "4.12.2"

[dev-packages]

[requires]
python_version = "3.8"
